.barraMenu{
    background-color: #15385d;
    color: white;
    
}

span.cpe{
    font-weight: bold;
    font-size: 30px;
    color: white;
}

span.sys{
    font-size:30px;
    margin: auto 0 auto 0;
    color: white;
}

.spacer{
    flex:1 !important;
}

a.nav-link{
    color:white !important;
}

img.icon{
    width: 30px;
    margin: 0px 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius:5px
}
