/* GERAL */
main.votacao{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.cedula{
    width: 75%;

    background-color: #dfdddd;
    
    -webkit-box-shadow: 0px 0px 18px 10px #AAAAAA; 
    box-shadow: 0px 0px 18px 10px #AAAAAA;
}

.cargoCedula{
    margin-top: 15px
}

main.votacao>.titulo>span {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px black;
}

main.votacao> div.titulo{
    margin: 0px;
    border-bottom: 5px solid #ef7a20;

    margin-bottom: 20px;
}
